@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ------------------------- GÉNÉRAL -------------------------*/

*, *::before, *::after {
    box-sizing: border-box;
}

html{
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, .9);
    background-color: #231F20;
    font-family: 'Roboto', sans-serif;
    height: auto;
    width: 100%;

    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
}

h2{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
}

p{
    font-family: 'Oswald', sans-serif;
}

a{
    color:#231F20;
}

a:visited{
    color:#231F20;
}

/* ------------------------- HEADER -------------------------*/
.menu ul{
    font-weight: 600;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    display: flex;
    background-color: #7C8086;
    justify-content: center;
}

.menu ul li a{
    padding: 1rem 5rem;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-family: 'Oswald', sans-serif;
    transition: all .4s ease-in-out;
    letter-spacing: 2px;
}

.menu ul li a:hover {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 7px;
    color: rgba(255, 255, 255, .9);
}

.logo{
    height: 12rem;
    width: 12rem;
    margin: 3rem 3rem 3rem 7rem;
}

.logo-titre{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-titre>h1{
    margin-right: 7rem;
}

.puck{
    height: 3rem;
    width: 4.5rem;
}

/* ------------------------- BODY -------------------------*/
.content{
    margin: 7rem 15rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.container{
    font-family: 'Roboto', sans-serif;
    margin-left: 5%;
    margin-top: 5%;
}

.container-schedule{
    margin-left: 2rem;
}

.container-schedule h2{
    letter-spacing: 5px;
}

.about-us-text{
    font-size: 1.25rem;
}

#teams{
    width: 25rem;
    height: 2.5rem;
    border-radius: 10px;
    background-color:#7C8086;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 2rem;
    font-size: 1rem;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.25);
}

.choice{
    margin-bottom: 3rem;
    letter-spacing: 3px;
}

.save-btn{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    width: 10rem;
    height: 2.5rem;
    border-radius: 10px;
    background-color:#7C8086;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.25);
}

.save-btn a{
    color: rgba(255, 255, 255, .9);
}

.save-btn:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.75);
    color: rgba(255, 255, 255, .9);
}

.container-standings{
    display: flex;
    justify-content: space-around;
}

.eastern-conference{
    background-color: rgba(167, 18, 29, 0.5);
    margin: 1rem;
    padding: .25rem;
    border-radius: 10px;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.25);
    font-size: 1.25rem;    
}

.western-conference{
    background-color: rgba(0, 38, 99, 0.5);
    margin: 1rem;
    padding: .25rem;
    border-radius: 10px;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.25);
    font-size: 1.25rem;    
}

.conf-header{
    margin: 1.5rem;
    margin-top: 2rem;
    font-size: 1.8rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 800;
    text-shadow: 3px 3px 2px #231F20;
}

.header-standings{
    justify-content: space-between;
    display: flex;
    margin: 1.5rem 0 1.5rem 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 3rem;
    text-shadow: 3px 3px 2px #231F20;
}

.header-standings p{
    letter-spacing: 2px;
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    width: 70px;
    text-align: left;
}

.conf-text{
    text-shadow: 3px 3px 2px black;
    width: fit-content;
}

.e-team,
.w-team{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: .05rem 3rem;
    margin: 1.5rem 0 1.5rem 1.5rem;
}

.games-tonight{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    gap: 2rem;
    margin-left: 1%;
}

.teams-cont{
    text-transform: uppercase;
    text-shadow: 3px 3px 2px #231F20;
    letter-spacing: 3px;
    font-size: 1.3rem;
    border-radius: 10px;
    background-color: rgba(124, 128, 134, .25);
    padding: 1rem;
}

/* ------------------------- FOOTER -------------------------*/
.footer {
    margin-top: 2rem;
    flex-shrink: 0;
}

.copyright-footer{
    font-style: italic;
    color: rgba(255, 255, 255, .9);
    padding: 0 2.5%;
}

/* ------------------------- MEDIA QUERIES -------------------------*/
@media screen and (max-width: 954px) {
    .logo{
        height: 7rem;
        width: 7rem;
        margin: 3rem;
    }
    
    .logo-titre{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo-titre>h1{
        margin-right: 2rem;
        font-size: 3.5rem;
    }
    
    .puck{
        height: 2rem;
        width: 3rem;
    }

    .container-standings{
        display: block;
    }
}

@media screen and (max-width: 834px) {
    .content{
        margin: 3rem 1rem;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }

    h2{
        font-size: 2rem;
    }

    .games-tonight{
        width: fit-content;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 2rem;
        margin-left: 1%;
    }
}

@media screen and (max-width: 780px) {
    .menu ul{
        font-weight: 600;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        display: block;
        background-color: #7C8086;
        justify-content: center;
        border-radius: 10px;
    }

    .menu ul li a{
        padding: 0;
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        font-family: 'Oswald', sans-serif;
        transition: all .4s ease-in-out;
        letter-spacing: 2px;
    }
}

@media screen and (max-width: 500px) {
    .logo{
        display: none;
    }
    
    .logo-titre{
        display: block;
        justify-content: center;
    }
    
    .logo-titre>h1{
        margin: 1rem 0;
        font-size: 3rem;
    }
    
    .puck{
        display: none;
    }

    .games-tonight{
        width: fit-content;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 2rem;
        margin-left: 0;
    }

    .container-schedule{
        margin-left: 0;
    }

    .header-standings{
        justify-content: space-between;
        display: flex;
        margin: .5rem .5rem .5rem .5rem;
        text-transform: uppercase;
        font-weight: 600;
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        gap: 1rem;
        text-shadow: 3px 3px 2px #231F20;
    }

    .eastern-conference{
        background-color: rgba(167, 18, 29, 0.5);
        margin: .5rem 0;
        padding: .25rem;
        border-radius: 10px;
        box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.25);
        font-size: 1rem;    
    }
    
    .western-conference{
        background-color: rgba(0, 38, 99, 0.5);
        margin: .5rem 0;
        padding: .25rem;
        border-radius: 10px;
        box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.25);
        font-size: 1rem;    
    }

    .e-team,
    .w-team{
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        gap: 0 3rem;
        margin: .5rem .5rem .5rem .5rem;
    }
}

@media screen and (max-width: 420px) {
    #teams{
        width: 15rem;
        height: 2rem;
        border-radius: 10px;
        background-color:#7C8086;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 2rem;
        font-size: 1rem;
        box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.25);
    }

    .save-btn{
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        text-transform: uppercase;
        width: 7rem;
        height: 2rem;
        border-radius: 10px;
        background-color:#7C8086;
        box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.25);
    }
    
    .games-tonight{
        width: fit-content;
        display: block;
    }

    .teams-cont{
        text-transform: uppercase;
        text-shadow: 3px 3px 2px #231F20;
        letter-spacing: 3px;
        font-size: 1.3rem;
        border-radius: 10px;
        background-color: rgba(124, 128, 134, .25);
        padding: 1rem;
        margin: 1rem;
    }

    .header-standings{
        justify-content: space-between;
        display: flex;
        margin: .5rem .5rem .5rem .5rem;
        text-transform: uppercase;
        font-weight: 600;
        grid-template-columns: repeat(4, 2fr);
        gap: 1rem;
        text-shadow: 3px 3px 2px #231F20;
    }

    .about-us-text {
        font-size: 1rem;
    }
}
