@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ------------------------- GÉNÉRAL -------------------------*/
:root{
    --black: #161616;
    --iron: #D1D3D4;
    --jumbo: #8C8C8D;
    --white: #ffffff;
    --lowWhite: rgba(255, 255, 255, 0.9);
}

*, *::before, *::after {
    box-sizing: border-box;
}

html{
    padding: 0;
    margin: 0;
    color: var(--lowWhite);
    background-color: var(--black);
    font-family: 'Roboto', sans-serif;
    height: auto;
    width: 100%;

    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
}

h2{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
}

h3{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
}

p{
    font-family: 'Oswald', sans-serif;
}

a,
a:visited{
    color: var(--black);
}

/* ------------------------- HEADER -------------------------*/
.nav-menu{
    font-weight: 600;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    display: flex;
    background-color: var(--jumbo);
    justify-content: center;
}

.nav-menu li a{
    padding: 1rem 5rem;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-family: 'Oswald', sans-serif;
    transition: all .4s ease-in-out;
    letter-spacing: 2px;
}

.nav-menu li a:hover {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 7px;
    color: var(--lowWhite);
}

.hamburger-menu{
    display: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.logo{
    height: 12rem;
    width: 12rem;
    margin: 3rem 3rem 3rem 7rem;
}

.logo-titre{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-titre>h1{
    margin-right: 7rem;
}

.puck{
    height: 3rem;
    width: 4.5rem;
}

/* ------------------------- BODY -------------------------*/
.content{
    margin: 7rem 15rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.container{
    font-family: 'Roboto', sans-serif;
    margin-left: 5%;
    margin-top: 5%;
}

.container-schedule{
    margin-left: 2rem;
}

.container-schedule h2{
    letter-spacing: 5px;
}

.about-us-text{
    font-size: 1.25rem;
}

#teams{
    width: 25rem;
    height: 2.5rem;
    border-radius: 10px;
    background-color: var(--jumbo);
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 2rem;
    font-size: 1rem;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.25);
}

.choice{
    margin-bottom: 3rem;
    letter-spacing: 3px;
}

.save-btn{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    width: 10rem;
    height: 2.5rem;
    border-radius: 10px;
    background-color:#7C8086;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.25);
    border: none;
}

.save-btn a{
    color: var(--lowWhite);
}

.save-btn:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.75);
    color: var(--lowWhite);
}

.container-standings{
    display: flex;
    justify-content: space-around;
}

.eastern-conference{
    background-color: rgba(167, 18, 29, 0.5);
    margin: 1rem;
    padding: .25rem;
    border-radius: 10px;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.25);
    font-size: 1.25rem;    
}

.western-conference{
    background-color: rgba(0, 38, 99, 0.5);
    margin: 1rem;
    padding: .25rem;
    border-radius: 10px;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.25);
    font-size: 1.25rem;    
}

.conf-header{
    margin: 1.5rem;
    margin-top: 2rem;
    font-size: 1.8rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 800;
    text-shadow: 3px 3px 2px #231F20;
}

.header-standings{
    justify-content: space-between;
    display: flex;
    margin: 1.5rem 0 1.5rem 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 3rem;
    text-shadow: 3px 3px 2px #231F20;
}

.header-standings p{
    letter-spacing: 2px;
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    width: 70px;
    text-align: left;
}

.conf-text{
    text-shadow: 3px 3px 2px black;
    width: fit-content;
}

.e-team,
.w-team{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: .05rem 3rem;
    margin: 1.5rem 0 1.5rem 1.5rem;
}

.games-tonight{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    gap: 2rem;
    margin-left: 1%;
}

.teams-cont{
    text-transform: uppercase;
    text-shadow: 3px 3px 2px #231F20;
    letter-spacing: 3px;
    font-size: 1.3rem;
    border-radius: 10px;
    background-color: #39373A;
    padding: 1rem;
    transition: .3s ease-in-out;
}

.teams-cont:hover{
    transform: scale(1.2);
    transition: .3s ease-in-out;
    box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.75);
}

.clinch{
    display: flex;
    margin-left: 1rem;
    padding: 0;
}

.clinch p{
    margin: .5rem;
    font-size: 1.25rem;
}

#datePicker{
    margin-top: 2rem;
    background-color: #39373A;
    color: var(--lowWhite);
    padding: .75rem;
    font-size: 1.25rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.season-title{
    margin-left: 2rem;
}

.player-stats.active{
    /* background-color: #7C8086; */
    text-transform: uppercase;
    text-shadow: 3px 3px 2px #231F20;
    letter-spacing: 3px;
    font-size: 1.3rem;
    border-radius: 10px;
    background-color: #39373A;
    padding: 1rem;
    transition: .3s ease-in-out;
    width: 20rem;
    margin-left: 3rem;
}

.player-stats.active:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: .3s ease-in-out;
    box-shadow: 7px 7px 1px rgba(0, 0, 0, 0.75);
}

.player-stats p,
.player-stats h3{
    text-align: center;
}

.search-input{
    /* width: 20rem; */
    display: grid;
}

.input-label{
    margin: 0 .75rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.container-stats{
    display: flex;
}

#first-name,
#last-name{
    margin: 1rem;
    height: 2.5rem;
    border-radius: 5px;
    background-color:rgba(255, 255, 255, .9);
    color: rgba(0, 0, 0, 0.75);
    font-size: 1rem;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.25);
    border: none;
}

.submit-label,
.reset-label{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    width: 8rem;
    height: 1.75rem;
    border-radius: 10px;
    background-color:#7C8086;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.25);
    margin: 1.5rem;
    border: none;
}

.submit-label:hover,
.reset-label:hover{
    cursor: pointer;
    background-color: var(--iron);
    color: black;
}

.btn-group{
    display: flex;
    justify-content: space-evenly;
}

.search-block{
    background-color: black;
    border-radius: 10px;
    width: fit-content;
    margin: 2rem;
    padding: 1rem;
}

.search-block h2{
    margin: 2rem;
}

/* ------------------------- FOOTER -------------------------*/
.footer {
    margin-top: 2rem;
    flex-shrink: 0;
}

.copyright-footer{
    font-style: italic;
    color: var(--lowWhite);
    padding: 0 2.5%;
}

/* ------------------------- MEDIA QUERIES -------------------------*/
@media screen and (max-width: 954px) {
    .logo{
        height: 7rem;
        width: 7rem;
        margin: 3rem;
    }
    
    .logo-titre{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo-titre>h1{
        margin-right: 2rem;
        font-size: 3.5rem;
    }
    
    .puck{
        height: 2rem;
        width: 3rem;
    }

    .container-standings{
        display: block;
    }

    
}

@media screen and (max-width: 834px) {
    .content{
        margin: 3rem 1rem;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }

    h2{
        font-size: 2rem;
    }

    .games-tonight{
        width: fit-content;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 2rem;
        margin-left: 1%;
    }
}

@media screen and (max-width: 780px) {
    .nav-menu{
        font-weight: 600;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        display: block;
        background-color: var(--jumbo);
        justify-content: center;
        border-radius: 10px;
    }

    .nav-menu li a{
        padding: 0;
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        font-family: 'Oswald', sans-serif;
        transition: all .4s ease-in-out;
        letter-spacing: 2px;
    }

    .container-stats{
        display: block;
    }

    .search-block{
        margin: 2rem .5rem;
    }
}

@media screen and (max-width: 500px) {
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 10rem;
        flex-direction: column;
        transition: 0.3s;
        background-color: var(--jumbo);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active{
        left: .25rem;
        margin-right: .25rem;
    }

    .hamburger-menu{
        display: block;
        width: 12%;
        cursor: pointer;
        background-color: var(--jumbo);
        border-radius: 10px;
        padding: .25rem;
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .logo{
        display: none;
    }
    
    .logo-titre{
        display: block;
        justify-content: center;
    }
    
    .logo-titre>h1{
        margin: 1rem 0;
        font-size: 3rem;
    }
    
    .puck{
        display: none;
    }

    .games-tonight{
        width: fit-content;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 2rem;
        margin-left: 0;
    }

    .container-schedule{
        margin-left: 0;
    }

    .header-standings{
        justify-content: space-between;
        display: flex;
        margin: .5rem .5rem .5rem .5rem;
        text-transform: uppercase;
        font-weight: 600;
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        gap: 1rem;
        text-shadow: 3px 3px 2px #231F20;
    }

    .eastern-conference{
        background-color: rgba(167, 18, 29, 0.5);
        margin: .5rem 0;
        padding: .25rem;
        border-radius: 10px;
        box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.25);
        font-size: 1rem;    
    }
    
    .western-conference{
        background-color: rgba(0, 38, 99, 0.5);
        margin: .5rem 0;
        padding: .25rem;
        border-radius: 10px;
        box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.25);
        font-size: 1rem;    
    }

    .e-team,
    .w-team{
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        gap: 0 3rem;
        margin: .5rem .5rem .5rem .5rem;
    }
}

@media screen and (max-width: 420px) {
    .logo-titre>h1{
        margin: 1rem 0;
        font-size: 1.5rem;
    }

    .nav-menu{
        top: 7.5rem;
    }

    .search-block{
        width: 90%;
    }

    #first-name,
    #last-name{
        width: 12rem;
    }

    .btn-group{
        display: block;
    }

    #teams{
        width: 15rem;
        height: 2rem;
        border-radius: 10px;
        background-color:var(--jumbo);
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 2rem;
        font-size: 1rem;
        box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.25);
    }

    .save-btn{
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        text-transform: uppercase;
        width: 7rem;
        height: 2rem;
        border-radius: 10px;
        background-color: var(--jumbo);
        box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.25);
    }
    
    .games-tonight{
        width: fit-content;
        display: block;
    }

    .teams-cont{
        text-transform: uppercase;
        text-shadow: 3px 3px 2px #231F20;
        letter-spacing: 3px;
        font-size: 1.3rem;
        border-radius: 10px;
        background-color: rgba(124, 128, 134, .25);
        padding: 1rem;
        margin: 1rem;
    }

    .header-standings{
        justify-content: space-between;
        display: flex;
        margin: .5rem .5rem .5rem .5rem;
        text-transform: uppercase;
        font-weight: 600;
        grid-template-columns: repeat(4, 2fr);
        gap: 1rem;
        text-shadow: 3px 3px 2px #231F20;
    }

    .about-us-text {
        font-size: 1rem;
    }
}
